<br/>
  <br/>
  <br/><br/>
  <br/>
  <br/>
<card>
<h2>Order Details</h2>
<div class="row">
  <div class="col-6">
    <form #f="ngForm" class="text-left border border-light p-5" action="#!">
      <div class="form-group">
        <label for="">Name</label>
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for=""></label>
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>
      <button 
      [disabled]="!f.valid"
        (click)="placeOrder()"
        class="btn btn-left btn-primary">Place Order</button>
    </form>
  </div>
  <div class="col-6">
    <shopping-cart-card [cart]="cart"></shopping-cart-card>
  </div>
</div>

</card>







<!--<body style="background-color:rgb(252,228,236)">
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-75">
      <div class="container">
        <form #f="ngForm" (ngSubmit)="save(f.value)" >

          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  [(ngModel)]="order.name"
                  #name="ngModel"
                  name="name"
                  id="name"
                  type="text"
                  class="form-control"
                />
              </div>

              <div class="form-group">
              <label for="date">Date</label>
              <input
                [(ngModel)]="order.date"
                #date="ngModel"
                name="date"
                id="date"
                type="date"
                class="form-control"
              />
            </div>
            

            <div class="form-group">
              <label for="mail">EMail</label>
              <input
                [(ngModel)]="order.mail"
                #mail="ngModel"
                name="mail"
                id="mail"
                type="mail"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input
                [(ngModel)]="order.address"
                #address="ngModel"
                name="address"
                id="address"
                type="text"
                class="form-control"
              />
            </div>
              <div class="form-group">
              <label for="city">City</label>
              <input
                [(ngModel)]="order.city"
                #city="ngModel"
                name="city"
                id="city"
                type="text"
                class="form-control"
              />
            </div>

              <div class="row">
                <div class="col-50">
                  <label for="road">Road</label>
              <input
                [(ngModel)]="order.road"
                #road="ngModel"
                name="road"
                id="road"
                type="text"
                class="form-control"
              />
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
              <input
                [(ngModel)]="order.zip"
                #zip="ngModel"
                name="zip"
                id="zip"
                type="text"
                class="form-control"
              />
                </div>
              </div>
            </div>

            <div class="col-50">
              <h3><u>Payment Methods</u></h3>
              <div class="icon-container">

                  <ul>
                    <li>Cash on Pickup</li>
                    <li>Cash on Delivery</li>
                    <li>FriMi</li>
                  </ul>

              </div>

            </div>

          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>

    <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>4</b>
          </span>
        </h4>
        <p><a href="#">Product 1</a> <span class="price">Rs.2500</span></p>
        <p><a href="#">Product 2</a> <span class="price">Rs.2200</span></p>
        <hr>
        <p>Total <span class="price" style="color:black"><b>Rs.4700</b></span></p>
      </div>
    </div>
  </div>-->
