<footer class="page-footer font-small black pt-2s">
  <br/>
        <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">The Cakesmith</h6>
            <p>Baker Family based in Colombo</p>
            <p>Indulge yourself and your family in Homemade Cakes and Sweets</p>
            <p>Homemade goods with a pinch of love</p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold text-center">Links</h6>
            <p><a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/userProfile']" routerLinkActive="router-link-active" >Your Account</a></p>
            <p><a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/terms']" routerLinkActive="router-link-active">Terms and Conditions</a></p>
            <p><a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active">Privacy Policy</a></p>

            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fa fa-home"></i> J 3rd floor, 215, Park Road, Colombo 05</p>
            <p><i class="fa fa-envelope"></i> thecakesmith05@gmail.com</p>
            <p><i class="fa fa-phone"></i> +94 (76) 907 0125</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left"><img src="../../assets/images/logo.png" width=40% height=40%/></p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right ">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/TheCakesmith/"><i class="fa fa-facebook" style="font-size: 2em;"></i></a>
                </li>
                <li class="list-inline-item">
                    <a role="button" href="https://www.instagram.com/the_cakesmith_/"><i class="fa fa-instagram" style="font-size: 2em;"></i></a>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </footer>
