<!-- <body style="background-color:rgb(252,228,236)"> -->
    <br>
    <br>
    <br/>
    <br/>
    <div class="row">
      <div class="col-8  offset-2">
        <div class="card">
          <div class="card-body">

<h2> Custom Description </h2>

<p> All of you are welcome to place a customized order as per your wish with us if you are unable to find the design in your mind in our menu page.
     We are more than happy to help to make your special occasion remarkable and delicious like no other. 
     For that we need your help to customize the cake. You can fill a form to let us know the specifications that you need in your cake by continuing this process. 
</p> 

<p>
    Here as customer you can choose flavor of cake such as Vanilla, Chocolate, Mint, Lemon and so on.
<p> And have to select the frosting type either buttercream or fondand.                                      </p>
<p>  And have to add frosting color which you need. Then have to mention the weight that you expected to order.</p>
<p> Meantime have to select the shap of the cake. It must to provide a image that you are expecting to be.     </p>
<p> And have to mention required date of your order. And also can add additional notes regarding your order.   </p>

<p> After recieving your custom order details we'll contact you and provide the quotation and if you satisfied with quotation we'll confirm the order.
    This process will done through over a phone call.
</p>

            </div>
         </div>
    </div>
<!-- </body> -->