<div class="view col-8 offset-2">
  <img src="../../../assets/images/col.jpg" class="img-fluid">
  <div class="mask flex-center waves-effect waves-light rgba-white-light"></div>
</div>
<div class="row">
<div class="col-8  offset-2">
<div class="card">
<div class="card-body">

<p> All of you are welcome to place a customized order as per your wish with us if you are unable to find the design in your mind in our menu page.
     We are more than happy to help to make your special occasion remarkable and delicious like no other.
     For that we need your help to customize the cake. You can fill a form to let us know the specifications that you need in your cake by continuing this process.
</p>

<p>
    Here as a registered customer of The Cakesmith you can choose the flavor of the cake such as Vanilla, Chocolate, Strawberry, Mint, Lemon and so on. If the needed flavor isn't on the options list you van always mention it n the additional notes.
<p> And you can select the frosting type you need as either buttercream or fondant.                                      </p>
<p>  And have to choose a particular frosting color which you need for the frosting. Then have to mention the weight that you expect to order.</p>
<p> Meantime have to select the shap of the cake. It is compulsory to provide an image that you are expecting to customize the cake as or an sketch you draw.     </p>
<p> And please mention required date of your order and also you can add additional notes regarding your order.   </p>

<p> After recieving your customized order details, we'll go through it,contact you and provide the quotation and if you are satisfied with the quotation we can confirm the order then and there.
    This final process step will done over a phone call.
</p>

<div class="text-center">
  <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/custom']" routerLinkActive="router-link-active" >
    <button type="button" class="btn btn-success btn-lg btn-block signup-btn">Proceed to Customize</button>
  </a>
</div>

</div>
</div>
</div>
<!-- </body> -->
