<mdb-card cascade="true" wider="true">
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="../../assets/images/cover.jpg"  class="mask flex-center waves-effect waves-light rgba-teal-strong"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
<div class="row">
<div class="col-2"></div>
<div class="col-8 ml-5 mr-5 text-center">
  <mdb-card-body cascade="true" class="text-center">

    <h4 class="card-title">
      <strong>Our Story</strong>
    </h4>

    <mdb-card-text class="col text-center">
      <p>To find the perfect recipe, you first need the perfect ingredients. And that's what we were for each other. In 2017, they joined forces, to help make cakes to entertain their friends and family. The cakes they made were delicious, unlike anything anyone had tasted. As a result, their friends and family asked them to entertain more and more.</p>

      <p>They quickly realized this side project of theirs could be something more. There was a gap in the world for delicious cakes, readily available, that didn't compromise on their ingredients. Real eggs, butter and cream cheese; nothing was too good to achieve perfection. And perfection are those decadent, slowly melting bites, we all know and love.</p>

      <p>Flash forward and The Cakesmith brand has grown so much since the day they started. Built on mother and her kids' vision, each product of them still has the warmth and nostalgia of its home-kitchen roots, but we also take a modern approach for the world today. So whether you're enjoying a piece of cake or any sweet from The Cakesmith one thing is certain - perfection is all we offer.</p>
    </mdb-card-text>

  </mdb-card-body>
</div>
<div class="col-2"></div>
</div>
</mdb-card>
