<!-- <body style="background-color:rgb(252,228,236)"> -->
    <br>
    <br>
    <br/>
    <br/>
    <div class="row">
      <div class="col-8  offset-2">
        <div class="card">
          <div class="card-body">

            <h2> Terms and Conditions </h2>

            <p>
                Your access to and use of www.thecakesmith.lk is subject exclusively to these Terms and Conditions. You shall not use this website for any purpose that is unlawful or prohibited by these Terms and Conditions.
Hereinafter the terms ‘The Cakesmith’ or ‘us’ or ‘we’ refers to the owner of this website whose registered office is at 215/J3/10, Park Road, Colombo 05, Sri Lanka. The term ‘you’ or ‘your’ refers to the user or viewer of the website.
By using this website you are fully accepting the terms and conditions which together with our privacy policy and refund policy govern the relationship between you and The Cakesmith in relation to this website. If you do not accept these Terms and Conditions you may not use or access this website.

The use of this website is subject to the following terms of use:

The content of this website is for your general information and use only. It is subject to change without notice.
Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, text, photos and graphics. Reproduction of the content of this website is prohibited.
Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.
From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
You may not create a link to this website from another website or document without prior written consent from us.
By visiting www.TheCakesmith.lk, you agree that the laws of Sri Lanka and International laws will govern these Conditions of Use (Terms & Conditions) and any dispute of any sort that might arise.





Contact Information
If you have any questions, concerns, or comments about our Terms and Conditions you may contact us using the information below:
The Cakesmith
Email: info@TheCakesmith.lk
            </p>



        </div>
      </div>
   </div>
