
<header class="h-100">
		<!--Navbar-->
	<!--	<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar intro-fixed-nav" [containerInside]="false">
      -->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar intro-fixed-nav" [containerInside]="false">

			<!-- Navbar brand -->
			<mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="../../assets/images/logo2.png" width=30% height=30% alt="TClogo"></a>
      </mdb-navbar-brand>


      <!-- Collapsible content -->

      <links>
      <!-- Links -->

        <div>
            <ul class="navbar-nav mr-auto">

              <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <b>HOME</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <b>ABOUT</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/menu']" routerLinkActive="router-link-active" >
                  <b>MENU</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <b>CUSTOM</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >
                  <b>CONTACT</b>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>

          <navlinks>
              <ul class="nav navbar-nav nav-flex-icons ml-auto ">
                <li class="nav-item">
                  <ng-template #anonymousUser>
                    <a class="nav-link" [routerLink]="['/login']" ><b>LOG IN</b></a>
                  </ng-template>
                </li>

              <!-- Dropdown -->
              <li *ngIf="user$ | async as user; else anonymousUser" class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    {{user.displayName}}
                    <span class="caret"></span>
                </a>

                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/my/orders']" routerLinkActive="router-link-active" >My Orders</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/orders']" routerLinkActive="router-link-active" >Manage Orders</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/products']" routerLinkActive="router-link-active" >Manage Products</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()" >Log Out</a>
                </div>
              </li>

              <li>
                <a class="sc-ic" routerLink="/shopping-cart">
                  <i class="fa fa-shopping-cart" style="font-size: 2em;"></i>
                  <span class="icon-cart"></span>
                </a>
              </li>

            </ul>

          </navlinks>



		  <!-- Links -->
      </links>

		  <!-- Collapsible content -->
		</mdb-navbar>
		<!--/.Navbar-->

  </header>
