.fa {
    color : rgb(66, 64, 64);
  }

header{
    font-size: 12pt;
}


.div1 {
  padding-left: 50px;
}


.navbar-fixed-top.scrolled {
  background-color: rgb(112, 0, 0) !important;
  // transition: background-color 200ms linear;
}
