.fa {
    color : rgb(66, 64, 64);
  }

header{
    font-size: 12pt;
}

.navbar {
  z-index: 1;
}

 .top-nav-collapse {
    background-color: #563e91 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #563e91 !important;
    }
  }
