<body >
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="signin-form">
    <form (submit)="onSubmit()" class="text-center border border-light p-5">
    <h2>Sign in</h2>
        <p class="hint-text">Sign in with your social media account</p>
        <!--
          <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-facebook"></i>
        </a>
      -->
        <a type="button" class="light-blue-text mx-2" (click)="login()">
        <i class="fa fa-google"></i>
        </a>
        <!--
          <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-instagram"></i>
        </a>
      -->
        <!--OR-->
        <div class="or-seperator"><b>OR</b></div>
        <!--Username-->
        <div class="form-group">
            <input type="email" class="form-control input-lg" name="email" placeholder="Email" [(ngModel)]="email"  required="required">
        </div>
        <!--Password-->
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="password" placeholder="Password" [(ngModel)]="password" required="required">
        </div>
        <!--SubmitButton-->
        <div class="form-group">
            <input type="submit" value="Sign in" class="btn btn-success btn-lg btn-block signin-btn">
        </div>
        <!--<div class="text-center"><a href="#">Forgot Your password?</a></div>-->
    </form>
    <div class=" text-center"><b>Don't have an account?</b><a routerLink="/signup" ><b>Sign up</b></a></div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>

