<body background="../../assets/images/cupcake.jpg" class="img-fluid" >
<div class="mask flex-center waves-effect waves-light rgba-white-light"></div>

<br/><br/><br/><br/>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-body">
                <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                    <h2 >  Contact Us </h2>
                    <div class="form-group row">
                      <label for="name" class="col-form-label col-sm-4">Name</label>
                      <input #name="ngModel" [(ngModel)]="service.formData.name"   name="name" id="name" type="text" class="form-control col-sm-6">
                    </div>
                    <br/><br/>
                    <div class="form-group row">
                      <label for="email" class="col-form-label col-sm-4">Email</label>
                      <input #email="ngModel" [(ngModel)]="service.formData.email"   name="email" id="email" type="text" class="form-control col-sm-6">
                    </div>
                    <br/><br/>

                    <div class="form-group row">
                      <label for="phone_num" class="col-form-label col-sm-4">Phone number</label>
                      <input #phone_num="ngModel" [(ngModel)]="service.formData.phone_num" name="phone_num" id="phone_num" type="text" class="form-control col-sm-6">
                    </div>
                    <br/><br/>

                    <div class="form-group row">
                      <label for="message" class="col-form-label col-sm-4">Message</label>
                      <textarea rows="5" cols="25" #message="ngModel" [(ngModel)]="service.formData.message"  name="message" id="message" type="text" class="form-control col-sm-6"></textarea>
                    </div>
                    <br/><br/>
                    <button type="submit" class="btn btn-primary text-center btn.info">Submit</button>
                    <br/><br/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>
</body>

