<br><br><br>

<div class="col-md-8 mx-auto pink lighten-5">
  <br/>
  <div class="card rgba-white-light">
    <div class="card-body">
      <table class="table" width=75%>
          <thead class="blue-grey lighten-3 white-text">
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chocolate Drip Cake</td>
              <td>2Kg</td>
              <td>1</td>
              <td>Rs.2500</td>
            </tr>
            <tr>
              <td>XOXO LOVE Cup Cake Pack</td>
              <td>1Kg</td>
              <td>1</td>
              <td>Rs.2200</td>
            </tr>

        </tbody>
        <tfooter>
          <tr>
            <td colspan="3">Total Price</td>
            <td>  </td>
            <td>  </td>
            <td> Rs.4700 </td>
          </tr>
        </tfooter>



        </table>

    </div>
  </div>
  <br/>
</div>
<div class="col-md-2 mx-auto"></div>
<br/>
<div class="text-center">
  <a  routerLink="/check-out"  class="btn btn-secondary">Check Out</a  >
</div>

<!-- <h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
          </div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'USD':true }}</th>
      </tr>
    </tfoot>
  </table>
  <button
    (click)="clearCart()"
    class="btn btn-danger btn-sm">Clear Shopping Cart</button>
</div> -->





<!-- *ngif="cart.items.length"  -->
<!-- <a  routerLink="/check-out"  class="btn btn-primary">Check Out</a  > -->
