<body>
  <br/>
  <br/>
  <br/>
  <div class="profile-form">
    <form #f="ngForm" (ngSubmit)="save(f.value)" novalidate>
      <h2>User Profile</h2>
      <p class="hint-text">Update your details here</p>
      <br/><br/>
      <div class="form-group col-8 offset-2">
        <input #fname="ngModel" [(ngModel)]="appuser.name" placeholder="Full Name"  name="name" id="name" type="text" required="required" class="form-control input-lg" >
      </div>
      <br/><br/>
      <div class="form-group col-8 offset-2">
        <input #phone_num="ngModel" [(ngModel)]="appuser.contactNum" placeholder="Contact Number"  name="phone_num" id="phone_num" required="required" type="text" class="form-control input-lg" >
      </div>
      <br/><br/><br/>
      <div class="form-group col-8 offset-2 ">
        <button type="submit" class="btn btn-primary btn-block profile-btn btn-sm">Save</button>
      </div>
    </form>
<br/>
<br/>
</div>
</body>
