<div class="btn-group col-md-12 " role="group" aria-label="Basic example" >

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'SimpleCake' }"
    >Simple Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'BirthdayCake' }"
    >Birthday Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'WeddingCake' }"
    >Wedding Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Cupcakes' }"
    >Cupcakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Cookies' }"
    >Cookies</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'SimpleCake' }"
    >Donut</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    >All Products</button>
</div>
