<div class="btn-group col-md-12 text-center" role="group" aria-label="Basic example" >

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'SimpleCake' }"
    >Simple Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'BirthdayCake' }"
    >Birthday Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'WeddingCake' }"
    >Wedding Cakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Cupcake' }"
    >Cupcakes</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Cookie' }"
    >Cookies</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Donut' }"
    >Donuts</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    [queryParams]="{ category: 'Sweets' }"
    >Sweets</button>

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
    [routerLink]="['/menu']"
    >All Products</button>
</div>
