<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="save(f.value)" >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input ngModel name="name" id="name" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                            <label for="price">Price</label>   
                                <div class="input-group">
                                    <div class="input-group-text">LKR</div>
                                    <input ngModel name="price" id="price" type="number" class="form-control">
                                    <div class="input-group-text">.00</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select ngModel name="category" id="category" class="form-control">
                                    <option value=""></option>
                                    <option *ngFor="let c of list" [value]="c.$key">{{ c.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                    <label for="weight">Weight</label>
                                    <div class="input-group">
                                        <input ngModel name="weight" id="weight" type="number" class="form-control">
                                        <div class="input-group-text">kg</div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="imageURL">Image URL</label>
                                <input ngModel name="imageURL" id="imageURL" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea ngModel name="description" class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
            </div>
        </div>
    </div>
</div>

