<br/>
<div class="row">
    <div class="col-md-3 mx-auto"></div>
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="save(f.value)" novalidate>
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input [(ngModel)]="product.title" #title name="title" id="title" type="text" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="price">Price</label>
                          <div class="input-group">
                              <span class="input-group-text">$</span>
                              <input [(ngModel)]="product.price" #price name="price" id="price" type="number" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="category">Category</label>
                          <select [(ngModel)]="product.category" name="category"  id="category" class="form-control">

                              <option value="1">Simple Cake</option>
                              <option value="2">Birthday Cake</option>
                              <option value="3">Wedding Cake</option>
                              <option value="4">Cupcake</option>
                              <option value="4">Cookie</option>
                              <option value="4">Donut</option>
                              <!--<option *ngFor="let c of list" [value]="c.$key">{{ c.name }}</option>-->
                              <!--<option *ngFor="let c of list" >{{ c.name }}</option>-->
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="weight">Weight</label>
                        <div class="input-group">
                            <input [(ngModel)]="product.weight" #weight name="weight" id="weight" type="number" class="form-control">
                            <span class="input-group-text">kg</span>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="imageURL">Image URL</label>
                          <input [(ngModel)]="product.imagURL" #imageURL name="imageURL" id="imageURL" type="text" class="form-control">
                      </div>
                      <div class="form-group">
                            <label for="description">Description</label>
                            <textarea [(ngModel)]="product.description" #description name="description" id="description" type="number" class="form-control"></textarea>
                          </div>
                      <button class="btn btn-primary">Save</button>
                  </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 mx-auto">
          <div class="card" style="width:20rem;">
                  <div class="view overlay">
                    <img class="card-img-top" src={{product.imageURL}}  >
                      <a href="product.imageURL">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                  </div>
            <div class="card-body">

              <h4 class="card-title">{{ product.title}}</h4>
              <p class="card-text">{{ product.value}}</p>

            </div>
          </div>

    </div>
</div>

