<body background="../../../assets/images/dd2.jpg">
  <br /><br /><br /><br />
  <div class="col-md-8 mx-auto pink lighten-5">
    <br />
    <p>
      <!-- search to filter -->
      <input
        #query
        (keyup)="filter(query.value)"
        type="text"
        class="form-control"
        placeholder="Search..."
      />
    </p>
    <div class="card rgba-white-light">
      <div class="card-body">
        <table class="table" width="75%">
          <thead class="blue-grey lighten-3 white-text">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of filteredproducts">
              <td>{{ p.title }}</td>
              <td>{{ p.category }}</td>
              <td>{{ p.price }}</td>
              <td class="center">
                <!-- <a [routerLink]="['/admin/products/', p.key]" routerLinkActive="router-link-active" >Edit</a> -->
                <button
                  type="button"
                  color="success"
                  outline="true"
                  mdbWavesEffect
                  mdbBtn
                  color="success"
                  outline="true"
                  class="my-0"
                  size="sm"
                  [routerLink]="['/admin/products/', p.key]"
                  routerLinkActive="router-link-active"
                >
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br />
  </div>
  <div class="col-md-2 mx-auto"></div>
  <br />
</body>
