<br><br><br><br>
<div class="row">
  <div class="col-6 col-sm-3 " >
      <div class="card detail-card">
          <div class="card-image" >
              <div class="text-white d-flex blue-gradient-rgba">
                  <div class="p-3">
                      <h3 class="card-title card-top">Total Users</h3>
                  </div>
              </div>
          </div>
          <div class="ml-auto mr-4 mb-2">
          <h1 class="text-center card-text"  style="color: slateblue;">{{totalCount}}</h1>
          </div>
      </div>
  </div>


  <div class="col-6 col-sm-3 " >
    <div class="card detail-card">
        <div class="card-image" >
            <div class="text-white d-flex blue-gradient-rgba">
                <div class="p-3">
                    <h3 class="card-title card-top">Total Orders</h3>
                </div>
            </div>
        </div>
        <div class="ml-auto mr-4 mb-2">
        <h1 class="text-center card-text"  style="color: slateblue;">{{totalorders}}</h1>
        </div>
    </div>
  </div>

  <div class="col-6 col-sm-3 " >
    <div class="card detail-card">
        <div class="card-image" >
            <div class="text-white d-flex blue-gradient-rgba">
                <div class="p-3">
                    <h3 class="card-title card-top">Confirmed Orders</h3>
                </div>
            </div>
        </div>
        <div class="ml-auto mr-4 mb-2">
        <h1 class="text-center card-text"  style="color: slateblue;">{{totalorders-3}}</h1>
        </div>
    </div>
  </div>

  <div class="col-6 col-sm-3  " >
    <div class="card detail-card">
        <div class="card-image" >
            <div class="text-white d-flex blue-gradient-rgba">
                <div class="p-3">
                    <h3 class="card-title card-top">Pending Orders</h3>
                </div>
            </div>
        </div>
        <div class="ml-auto mr-4 mb-2">
        <h1 class="text-center card-text"  style="color: slateblue;">{{totalorders}}</h1>
        </div>
    </div>
  </div>
</div>

<div class="col-6">
  <div class="container" width="20px" height="15px">
    <div class="chart-wrapper">
      <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>


