<div>
  <div class="col-md-2 mx-auto"></div>
  <div class="col-md-8 mx-auto">
    <div class="row">
      <div *ngFor="let p of products$| async" class="mx-auto mb-3">
        <div class="flip-card display-block">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{{p.imageURL}} " style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <br/>
              <br/>
              <p style="font-size: x-large;">{{p.title}}</p>
            
              <ng-template #content let-modal>
                <div class="col-md-10" >
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title"><b>{{p.title}}</b></h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <img src="{{p.imageURL}} " style="width:300px;height:300px;">
                      </div>
                      <div class="col">
                        <h3>Rs. {{p.price}}</h3>    
                        <p>{{p.description}}</p>
                        <div class="options weight mt20">
                          <p class="title">Weight</p>
                          <label class="radio-inline btn btn-default grey"> {{p.weight}} kg </label>
                        </div>
                        <div class="area-qty-select">
                          <div class="quantity mt20">
                              <p class="title">Quantity</p>
                              <div class="input-group">
                                  <div class="input-group-btn">
                                      <button type="button" class="btn btn-default class minus-button "><i class="wq-minus" aria-hidden="true"></i></button>
                                  </div>
                                  <input type="text" class="form-control text-center " name="item_quantity" id="item_quantity" value="1" min="1">
                                  <div class="input-group-btn">
                                      <button type="button" class="btn btn-default add-button "><i class="wq-plus" aria-hidden="true"></i></button>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                  </div>
                </div>
                </ng-template>
                
                <button class="btn btn-sm btn-outline-primary" (click)="open(content)">More</button>
                
<div class="btn-group col-sm-12" role="group" aria-label="Basic example" >

    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Simple Cakes</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Birthday Cakes</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Wedding Cakes</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Cupcakes</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Cookies</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>Donut</button>
    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect>All Products</button>
  </div>

<div class="row">
  <ng-container *ngFor="let p of filteredProducts ; let i = index">
      <div class="col-sm ">
        <div class="card"  >
            <div class="view overlay">
              <!-- <img class="card-img-top" src={{p.imageURL}} > -->
                <div class="mask rgba-white-slight"></div>

            </div>
            <div class="card-body">
              <h4 class="card-title">{{p.title}}</h4>
              <p class="card-text">{{p.price}}</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-2 mx-auto"></div>
    <div  *ngIf=" (i + 1) % 4 === 0" class="w-100" ></div>
  </ng-container>
</div>








