
<table *ngIf="products?.length >0;else noProducts" class="table table-striped">
    <thead class="thead-inverse">
        <th>Name</th>
        <th>Weight</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.weight  }}</td>
            <td>{{ product.description }}</td>
        </tr>
    </tbody>

</table>

<ng-template #noClient>
    <hr>
    <h5>There are no products</h5>

</ng-template>

