<body>
<br/>
<br/>
<br/>
<div class="signup-form">
    <form (submit)="onSubmit()" class="text-center border border-light p-5" autocomplete="off">

      <h2>Sign up</h2>
      <p class="hint-text">Sign up with your social media account</p>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-facebook"></i>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-google"></i>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <i class="fa fa-instagram"></i>
      </a>
      <div class="or-seperator"><b>OR</b></div>
      <div class="form-group">
      <div class="form-row mb-4">
        <div class="col">
          <input type="text" id="firstName" class="form-control input-lg" name="firstName" placeholder="First name" [(ngModel)]="fName">
        </div>
        <div class="col">
          <input type="text" id="lastName" class="form-control input-lg" name="lastName" placeholder="Last name" [(ngModel)]="lName">
        </div>
      </div>
      <input type="email" class="form-control input-lg" name="email" placeholder="Email" [(ngModel)]="email"  required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" name="password" placeholder="Password" [(ngModel)]="password" required="required">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
       </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign up</button>
      </div>
      <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a></p>
  </form>
<br/>
<br/>
</div>
</body>



<!--

<div class="bg-img" style="background-image: url('../../assets/img/Gallery/background1.jpg');">
  <div class="overlay"></div>
</div>


<div class="row">
    <div class="container">
        <div class="d-flex justify-content-center text-center" style="padding-top:200px;font-family: 'Roboto';">
            <div class="col-md-6 col-lg-6 col-sm-10" style="padding:50px;background-color: #223;border-radius: 30px;border: solid royalblue;">
                <br><br>
                <img src="assets/img/Gallery/logo2.png" alt="logo" style="max-width: 300px">
                <br><br><br>
                <form #form="ngForm" autocomplete="off">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <input required ngModel name="firstName" #firstName="ngModel"  id="firstName" type="text" class="form-control white-text" style="background-color: #223;"  placeholder="First Name..." >
                            </div>
                            <div class="form-group col-lg-6">
                                <input required ngModel name="lastName" #lastName="ngModel"  id="lastName" type="text" class="form-control  white-text" style="background-color: #223;"  placeholder="Last Name..." >
                            </div>
                        </div>

                        <div class="form-group">
                            <input required ngModel name="email" #email="ngModel"  id="email" type="text" class="form-control  white-text" style="background-color: #223;"  placeholder="Email..." >
                        </div>
                        <div class="form-group">
                          <input required minlength="8" ngModel name="password" #password="ngModel"  id="password" type="password" class="form-control  white-text" style="background-color: #223;"  placeholder="Password..." >
                        </div>
                        <div class="form-group">
                          <input required ngModel name="rePassword" #rePassword="ngModel"  id="rePassword" type="password" class="form-control  white-text" style="background-color: #223;"  placeholder="Re-type Password..." >
                        </div>
                        <div style="color: #F00;" *ngIf="password.touched && !password.valid"> <strong>*Password should have minimum of 8 charactors </strong> </div>
                        <div style="color:#f00" *ngIf="password.value!=rePassword.value && rePassword.touched" > *Passwords doesn't match </div>
                        <br>
                        <p class="white-text"> Please note that you cannot change your email address or user name once you register in to Jamboree</p>

                        <div class="col-lg-12 container text-center">
                            <button [disabled]="form.invalid || password.value!=rePassword.value" class="btn btn-lg btn-block white-text" style="font-size: 150%;background-color: royalblue;" (click)="authService.SignUp(email.value, password.value, firstName.value, lastName.value)"> Get Started </button>
                        </div>

                        <div style="color:#f00" *ngIf="(firstName.touched && !firstName.valid) || (lastName.touched && !lastName.valid) || (email.touched && !email.valid) || (rePassword.touched && !rePassword.valid)">*All fields Required </div>
                        <a class="button-cus white-text" style="font-size: 110%;" routerLink="/Signin"> Already an account ? Sign in Here </a>
                </form>
            </div>
        </div>
    </div>
</div>
-->
