<br><br><br><br>
<div class="col-6">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of SysUsers">
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>
            <div class="btn-group col-6" role="group">
              <button type="button" (click)="UpdateAdmin(u.key)" mdbWavesEffect size="sm" >Ad</button>
              <button type="button" (click)="UpdateSalesM(u.key)" mdbWavesEffect size="sm" >SaM</button>
              <button type="button" (click)="UpdateStockM(u.key)" mdbWavesEffect size="sm" >StM</button>
              <button type="button" (click)="delete(u.key)" mdbWavesEffect  size="sm" ><i class="fa fa-trash" style="font-size: 2em;"></i></button>
            </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>



