<br><br><br><br>
<div class="col-6">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of SysUsers">
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>
            <select #role="ngModel" [(ngModel)]="u.role" class="form-control">
              <option value="user">User</option>
              <option value="admin">Admin</option>
              <option value="salesM">Sales Manager</option>
              <option value="stockM">Stock Manager</option>
            </select>
        </td>
        <td>
          <form #f="ngForm" (ngSubmit)="save(f.value)" novalidate>
            <div class="btn-group" role="group">
              <button type="button" outline="true" mdbBtn color="success"(click)="save()" mdbWavesEffect width="30%" height="30%" size="sm" ><i class="fa fa-edit" style="font-size: 2em;"></i></button>
            <button type="button" outline="true" mdbBtn color="danger"(click)="delete()" mdbWavesEffect  width="30%" height="30%" size="sm" ><i class="fa fa-trash" style="font-size: 2em;"></i></button>
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>



