/* You can add global styles to this file, and also import other style files */
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #d4c4d4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #d4c4d4;
  }
}
