 <!--<header>-->
 <!-- Main -->
    <div class="view intro-2">
      <!-- The video -->
      <video class="video" autoplay muted="muted" loop id="myVideo" width= "100%">
          <source src="../../assets/videos/cookie.mp4" type="video/mp4">
      </video>
      <!--video end-->

     <!--Main Navigation-->

  <!--Main Layout-->
  <main class="text-center py-5">

    <div class="container fadeInUp">
      <div class="row">
        <div class="col-md-12">

          <p>The Cakesmith was founded in 2016 for the love of baking. We continue to thrive in our passion to bake and bring love to you through our cakes. We currently have a range of birthday cakes, Wedding cakes, donut selection and other scrumptious baked goods to choose from. We hope you enjoy browsing through our creations listed on this website which was carefully curated for each customer’s needs. 
          <p>The Cakesmith was founded in 2016 for the love of baking. We continue to thrive in our passion to bake and bring love to you through our cakes. We currently have a range of birthday cakes, Wedding cakes, donut selection and other scrumptious baked goods to choose from. We hope you enjoy browsing through our creations listed on this website which was carefully curated for each customer’s needs. 
          <p>The Cakesmith was founded in 2016 for the love of baking. We continue to thrive in our passion to bake and bring love to you through our cakes. We currently have a range of birthday cakes, Wedding cakes, donut selection and other scrumptious baked goods to choose from. We hope you enjoy browsing through our creations listed on this website which was carefully curated for each customer’s needs. 
          <p>The Cakesmith was founded in 2016 for the love of baking. We continue to thrive in our passion to bake and bring love to you through our cakes. We currently have a range of birthday cakes, Wedding cakes, donut selection and other scrumptious baked goods to choose from. We hope you enjoy browsing through our creations listed on this website which was carefully curated for each customer’s needs. 
        
        
          </div>
      </div>
    </div>
    <div class="center">
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../../assets/images/bday.jpg" alt="bday" width=100% height=100% >
                <div class="container">
                  <h4><b>Birthday Cakes</b></h4>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/do.jpg" alt="donut" width=100% height=100% >
                <div class="container">
                  <h4><b>Donuts</b></h4>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/wedding.jpg" alt="wedding" width=100% height=100%>
                <div class="container">
                  <h4><b>Wedding Cakes</b></h4>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/cupcake.jpg" alt="cupcake" width=100% height=100%>
                <div class="container">
                  <h4><b>Cupcakes</b></h4>
                </div>
              </div>
        </div>
      </div>
    </div>
  
    
  

  </main>

  <!-- Footer -->
  <div class="footer">
<footer class="page-footer font-small color pt-2s">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">The Cakesmith</h6>
          <p>Baker Family based in Colombo</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Privacy Policy</a>
          </p>
          <p>
            <a href="#!">Refund Policy</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fa fa-home"></i> J 3rd floor, 215, Park Road, Colombo 05</p>
          <p>
            <i class="fa fa-envelope"></i> thecakesmith05@gmail.com</p>
          <p>
            <i class="fa fa-phone"></i> +94 (76) 907 0125</p>
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">
            <img src="../../assets/images/logo.png" width=40% height=40%/>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/TheCakesmith/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a  role="button" href="https://www.instagram.com/the_cakesmith_/">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
</div>
  <!-- Footer -->

