

<div class="view intro-2">
  <div class="view" id="videoBG">
    <video   autoplay muted="muted" loop id="myVideo" >
        <source src="../../assets/videos/cookie.mp4" type="video/mp4">
    </video>
  </div>
</div>



<div class="mask rgba-black-Dark flex-center">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
      <div class="black-text text-center wow fadeInUp">
        <span>
          <h3 class="display-3 font-weight-bold black-text mb-0 pt-md-5 pt-5">The Cakesmith</h3>
          <h6 class="black-text ">
            <p>
              <br/>
              The Cakesmith was founded in 2016 for the love of baking.<br/>
              We continue to thrive in our passion to bake and bring love to you through our cakes.<br/>
              We currently have a range of birthday cakes, Wedding cakes, donut selection and other scrumptious baked goods to choose from.<br/>
              We hope you enjoy browsing through our creations listed on this website which was carefully curated for each customer’s needs.
            </p>
        </h6>
      </span>
      </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>


<div class="mask2 rgba-black-Dark flex-center">
  <h3 class="display-3 font-weight-bold black-text mb-1 pt-md-5 pt-5">OUR CAKES</h3>
</div>


<div class="card-deck mt-5 ml-5 mr-5 mb-5">
  <div class="card">
    <a [routerLink]="['/menu']" [queryParams]="{ category: 'BirthdayCake' }">
      <img src="../../assets/images/armysolldier.jpg" alt="bday" width=100% height=100% >
    </a>
    <button mdbBtn type="button" class="btn btn-outline-secondary bg-transparent" [routerLink]="['/menu']" [queryParams]="{ category: 'BirthdayCake' }"><b>SHOP BIRTHDAY CAKES</b></button>
  </div>
  <div class="card">
    <a [routerLink]="['/menu']" [queryParams]="{ category: 'Cupcake' }">
    <img src="../../assets/images/cupcake.jpg" alt="cupcake" width=100% height=100%>
    </a>
    <button mdbBtn type="button" class="btn btn-outline-secondary" [routerLink]="['/menu']" [queryParams]="{ category: 'Cupcake' }"><b>SHOP CUPCAKES</b></button>
  </div>
  <div class="card">
    <a [routerLink]="['/menu']" [queryParams]="{ category: 'SimpleCake' }">
    <img src="../../assets/images/cakeslice.jpg" alt="SimpleCake" width=100% height=100% >
    </a>
    <button mdbBtn type="button" class="btn btn-outline-secondary" [routerLink]="['/menu']" [queryParams]="{ category: 'SimpleCake' }"><b>SHOP SIMPLE CAKES</b></button>
  </div>
  <div class="card">
    <a [routerLink]="['/menu']" [queryParams]="{ category: 'Sweets' }">
    <img src="../../assets/images/churros.jpg" alt="Sweets" width=100% height=100% >
    </a>
    <button mdbBtn type="button" class="btn btn-outline-secondary" [routerLink]="['/menu']" [queryParams]="{ category: 'Sweets' }"><b>SHOP SWEETS</b></button>
  </div>
</div>

