

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row
{margin: 0 -5px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

//aspects for video in the background
#videoBG {
  position:fixed;
  z-index: -1;
  height: 1000px;
  size: 50%;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
      display: none;
  }

}

//intro text mask 1
div.mask {
  background-color: #ffffff;
  height:100%;
  //border: 1px solid black;
  //opacity: 0.6;
}

div.mask span{
  position:relative;
  filter: alpha(opacity=100);
  opacity: 1.0;
}

div.center{
  margin:5%;
}

// mask for text cake
div.mask2 {
  background-color:  #d4c4d4 ;
  height:350px;
  //border: 1px solid black;
  opacity: 0.9;
}

.special-card {
    opacity: 0.1;
  }
